
html{

	padding: 0px;
	margin: 0px
}



body {

	padding: 0px;
	margin: 0px;
	background-color: #8f8e8e;

}


.header 
{
	height: 60px;
	padding:20px;
	background-color: rgb(89, 28, 146);
}

h1{

	float: left;
	margin: 0px;
	background-color: rgb(89, 28, 146);

}


ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
	float: right;
	text-decoration: none;

}


li{
	margin-left: 20px;
	float: left;
	text-decoration: none
}

a{
	text-decoration: none;
	color: #000000
}


.content{
	width: 70%;
	float:left;
	background-color: #8f8e8e;
	min-height: 500px;


}

.sidebar{

	width: 30%;
	float: left;
	background-color: #4b4848;
	min-height: 500px;
	color: white

}
p{
	margin: 20px
}
.blog-post{
	margin: 10px;
	background-color: white;
	border: #8f8e8e;
	border-radius: 25px;
	padding: 10px;
}
img{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}